.container form {
    display: table;
    min-width: 350px;
    margin: 0 auto;
    padding: 1rem;
  }
  
 .container label {
    display: table;
    width: 100%;
    margin-bottom: 0.5rem;
    color: #3b3b3b;
  }
  
 .container input {
    display: table;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
  }
  
 .container input:focus {
    outline: none;
    border-color: #0070f3;
  }
  
.container  button {
    display: table;
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
  }
  
.container  button:hover {
    background-color: #0060e9;
  }
  
  .container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }